<%= render 'partial/navbar', messages: @messages %>

<div class="container">
	<div class="row">
		<div class="col-md-3 row-space-4">
		    <!-- 自分のプロフィールへのリンク -->
		    <%= render 'partial/message' %>
	    </div>

	    <div class="col-md-9">
      <div class="panel panel-primary">
        <div class="panel-heading">メッセージ受信履歴　<i class="fa fa-envelope" aria-hidden="true"></i></div>
	        <div class="panel-body">
				<% if @messages.present? %>
					<% @messages.each do |msg| %>
						<div onclick="obj=document.getElementById(<%= msg.id %>).style;obj.display=(obj.display=='none')?'block':'none';changeFlag(<%= msg.id %>)";>
							<% if msg.read_flag %>
								<a class="openButton btn btn-info">
									<div class="title"><span class="big">タイトル：</span><%= msg.title %>　　<span class="big">送信者：</span><%= msg.post_to.name %> (送信日時:<%= msg.created_at %>. )</div>
									<div class="attention">▼ クリックで展開</div>
								</a>
							<% else %>
								<a class="openButton btn btn-success">
									<div class="title"><span class="big">タイトル：</span><%= msg.title %>　　<span class="big">送信者：</span><%= msg.post_to.name %> (送信日時:<%= msg.created_at %>. )</div>
									<div class="attention">▼ クリックで展開</div>
								</a>
							<% end %>
						</div>
						<div id=<%= msg.id %> style="display:none;clear:both;">
							<table class="message-table">
								<thead>
									<tr>
										<th class="content">内　容</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="message"><%= msg.message %></td>
									</tr>
								</tbody>
							</table>
					  </div>
					<% end %>
				<% else %>
					メッセージはありません。
				<% end %>
	        </div>
	      </div>
	    </div>
	</div>
</div>

<script type="text/javascript">
	function changeFlag(flag) {
		$.ajax({
			url: "/messages/" +flag,
			type: "get",
		});
	}
</script>