<%= render 'partial/navbar', messages: @messages %>

<!-- 認証チェックマーク -->
<script type="text/javascript">
	$(function(){
		<% if !@user.email.blank? %>
			$("#ver-email").attr('class', 'vertification-checked');
		<% end %>

		<% if !@user.phone_number.blank? %>
			$("#ver-tel").attr('class', 'vertification-checked');
		<% end %>
	});
</script>

<div class="container">
	<div class="row">
		<div class="col-lg-3 col-md-4">
			<div class="user-profile row-space-4 text-center">
				<% if @user.avatar? %>
					<%= image_tag @user.avatar, class: "avatar" %>
				<% else %>
					<i class="fa fa-user-circle-o fa-big" aria-hidden="true" style="font-size: 15em;"></i>
				<% end %>
				<h1 align="center"><%= @user.name %></h1>
			</div>

			<div class="panel panel-primary verifications hidden-xs hidden-sm">
				<div class="panel-heading">
					認証済みID　<i class="fa fa-certificate" aria-hidden="true"></i>
				</div>
				<div class="panel-body">
					<div id="ver-email">
						メールアドレス
					</div>
					<br>
					<div id="ver-tel">
						電話番号
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-9 col-md-8 col-sm-12">
			<br>
			<br>
			<div class="panel panel-info">
				<div class="panel-heading title-user">
					<h2><i class="fa fa-user-o" aria-hidden="true"></i>　自己紹介</h2>
				</div>
				<div class="panel-body content-user">
					<%= @user.description %>
				</div>
			</div>
			<br>
			<div class="panel panel-info">
				<div class="panel-heading title-pet">
					<h2><i class="fa fa-paw" aria-hidden="true"></i>　ペット</h2>
				</div>
				<div class="panel-body content-pet">
					<div>
						<span class="bold">名前</span><span class="bold-value">　<%= @pet_info.name %></span>
					</div>
					<hr class="style-six">
					<div>
						<span class="bold">種類</span><span class="bold-value">　<%= @pet_info.pet_type %></span>	
					</div>
					<hr class="style-six">
					<div>
						<span class="bold">歳　</span><span class="bold-value">　<%= @pet_info.age %>歳</span>	
					</div>
					<hr class="style-six">
					<div>
						<span class="bold">性別</span><span class="bold-value">　<%= @pet_info.sex %></span>	
					</div>
					<hr class="style-six">
				</div>
			</div>
		</div>
	</div>  	
</div>