<%= render 'partial/navbar' %>
<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<div class="text-center">
						<span style="font-size:24px;">ペットの健康状態を投稿する　<i class="fa fa-comment" aria-hidden="true"></i></span>
					</div>
				</div>
			
				<div class="panel-body">			
					<!-- ここからフォーム -->
					<%= form_for @post do |f| %>
                        <div class="row">
                            <div class="col-md-12 select">
                                <div class="form-group">
                                    <label>体重</label>
                                    <div class="input-group">
                                        <%= f.text_field :weight, {placeholder: "例：２", autofocus: 'true', class: 'form-control'} %>
                                        <span class="input-group-addon">kg</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>

                        <div class="row">
                            <div class="col-md-12 select">
                                <div class="form-group">
                                    <label>食事量</label>
                                    <div class="input-group">
                                        <%= f.text_field :food_requirement, {placeholder: "例：50", class: 'form-control'} %>
                                        <span class="input-group-addon">g</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>

                        <div class="row">
                            <div class="col-md-12 select">
                                <div class="form-group">
                                    <label>散歩時間</label>
                                    <div class="input-group">
                                        <%= f.text_field :walk_time, {placeholder: "例：50", class: 'form-control'} %>
                                        <span class="input-group-addon">分</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>

                        <div class="row">
                            <div class="col-md-12 select">
                                <div class="form-group">
                                    <label>今日の薬はあげましたか？</label>
                                    <%= f.select :take_medicine, [["はい","true"], ["いいえ","false"]], {prompt:"選択してください"}, {class: 'form-control'} %>
                                </div>
                            </div>
                        </div>
                        <br>

						<div class="row">
							<div class="col-md-12 select">
								<div class="form-group description">
									<label>体調</label>
                                    <%= f.text_area :description, {placeholder: "必須項目です", rows: 5, required: 'true', size: 20, class: 'form-control'} %>
								</div>
							</div>
						</div>
						<br>
			            <div class="actions">
							<%= f.submit "Save", class: "btn btn-danger" %>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>

</div>